
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  
}

h1{
  margin:1%;
}

.tab{
  background-color: rgb(240, 244, 255);
  border-radius: 20;
}

.tabs{
  background-color:rgb(240, 249, 255) ;
}

.button{
  margin-bottom: 5%;
}
